@import url('https://fonts.googleapis.com/css?family=Limelight');

/* memory body -----------------------------*/
#memoryBoard {
	height: 500px;
	padding: 24px;
	margin: auto;
	width: 50%;
}

.ueberschrift {
	font-family: "Limelight", sans-serif;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
}

.visible {
	border: black 1px solid;
	/*background-color: #094a21;*/
	width: 65px;
	height: 65px;
	float: left;
	margin: 2px;
	background-color: blue;
	font-size: 1.5em;
	color: white;
	text-align: center;
}

.visible p {
	color: white;
}

.taken {
	border: black 1px solid;
	/*background-color: #094a21;*/
	width: 65px;
	height: 65px;
	float: left;
	margin: 2px;
	background-color: grey;
	transform: scale(0);
}

.taken p {
	display: none;
}

.hidden {
	border: black 1px solid;
	/*background-color: #094a21;*/
	width: 65px;
	height: 65px;
	float: left;
	margin: 2px;
	background-color: #094a21;
}

.hidden p {
	display: none;
}

/* footer ----------------------------------*/
#footer {
	margin-top: 5em;
	margin: auto;
	width: 50%;
}

.player {
	text-align: center;
	border: white 2px solid;
	float: left;
	width: 115px;
	height: 75px;
	background-color: #073819;
	border: white 2px solid;
}

.playerInfo {
	font-size: 1em;
	color: white;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.punkte {
	font-size: 0.5em;
	color: white;
	text-align: center;
	color: white;
	text-align: center;
	text-transform: uppercase;
}